<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CodeWithMe" connectionString="Data Source=TUTORIAL-TEST\SQLEXPRESS;Initial Catalog=CodeWithMe;Integrated Security=True;Asynchronous Processing=True" />
  </connectionStrings>
</configuration>